# Ignore Visual Studio Code Settings
.vs/
# Ignore build folders
NessStudio/bin/
NessStudio/obj/
# Ignore ffmpeg executables
NessStudio/Modules/ffmpeg.exe
NessStudio/Modules/ffplay.exe
NessStudio/Modules/ffprobe.exe
# Native FFmpeg binary - keep local only
NessStudio/Native/FFmpeg/ffmpeg.exe
Native/FFmpeg/ffmpeg.exe
